# Composer files
/composer.*
/vendor

# Site Config
/site-config.php
/config/.env
/scripts/composer.sh

# Site Files
/_sites/*

# Symlinks
.htaccess
wp
wp-cli.yml
wp-env.php

# WordPress
/app/stable
/wp-content/debug.log
/wp-content/drop-ins/*
/wp-content/mu-plugins/*
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/uploads/*
!/wp-content/mu-plugins/bedrock-autoloader.php

# Temp
setup.sh